# .gitignore

# Ignora los archivos de configuración de PyCharm
.idea/
.idea/FormPerson.iml

# Ignora los archivos de bytecode de Python
__pycache__/
*.py[cod]

# Ignora los archivos de entorno virtual de Python
.venv/

# Ignora los archivos de registro
*.log

# Ignora los archivos de base de datos SQLite (si se utilizan)
*.sqlite
